
{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1 class="mt-5">About</h1>
    <div class="row">
      <p class="lead">Webapp for settling the greatest debates. Presented in a <em>This vs. That</em> format, users can cast their vote and view unique stats for each matchup!</p>
    </div>
    <div class="row">
        <div class="col">
            <h2>Random Name</h2>
            <p>Session ID: {{ session_id }}</p>
            <p>{{ random_name }}</p>
        </div>
        <div class="col">
            <h2>Profile Icon</h2>
            <div class="profile-icon"></div>
        </div>
    </div>
</div>




{% endblock %}

