{% extends "layout.html" %}

{% block content %}





    <div class="container ">

    <h1 class="mt-5">Gallery</h1>
    <div class="row">
      <p class="lead">Browse Contestants and view their profiles + stats!</p>
    </div>

    <div class="row g-3 align-items-stretch">
    {% for contestant in contestants %}
        <div class="col-6 col-sm-6 col-md-4 col-lg-3">
            <button 
            type="button"
            class="btn matchup-contestant gallery-contestant p-2 text-center h-100" 
            style="width: 100%;"
            data-contestant-id="{{ contestant.id }}"
            data-bs-toggle="button">
                <div class="matchup-contestant-img-container bg-danger">☒</div>
                <h6 class="text-center">{{ contestant.contestant_name }}</h6>
                <p class="fw-light text-start">{{ contestant.contestant_description }}</p>
                <p class="contestant-extra-info fw-light text-start" style="display:none">Stats go here!</p>
            </button>
        </div>
    {% endfor %}
    </div>


    </div>
{% endblock %}