{% extends "layout.html" %} {% block content %}



{% macro matchup_stats_container() %}
<div class="container matchup-stats-container">

  <div class="container d-flex justify-content-center align-items-center mt-3">
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

    <button
      class="btn btn-primary btn-sm btn-matchup-stats collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#matchup-stats-collapse"
      aria-expanded="false"
      aria-controls="matchup-stats-collapse"
    >
      View Stats
    </button>
  </div> 

  <div class="collapse mt-3" id="matchup-stats-collapse">
    <div class="card card-body fw-light" id="matchup-stats-collapse-content">
      Placeholder Text
    </div>
  </div>

</div>
{% endmacro %}

{% macro first_visit_text() %}
{# {% if not has_visited %} #}  {# TODO: Reimplement after testing #}
{% if has_visited %}
<div id="first-visit-text" class="container text-center ">
  <p class="first-visit-message"><em>Tap to Vote!</em></p>
</div>

{% else %}
{% endif %}
{% endmacro %}



{% macro first_visit_pointer() %}
{# {% if not has_visited %} #}  {# TODO: Reimplement after testing #}
{% if has_visited %}
 <div id="first-visit-pointer" class="path-animate">
    <div class="position-relative d-inline-block click-animate" style="width:2em; height:2em;">
      <i class="fa-solid fa-circle fa-2x text-white position-absolute top-0 start-0 w-100 h-100" style="opacity: 0.5;"></i>
      <i class="fa-solid fa-arrow-pointer fa-1x position-absolute top-50 start-50" style="opacity: 1; transform: translate(-40%, -45%);"></i>
    </div>
  </div>

{% else %}
{% endif %}
{% endmacro %}





<div class="swiper-container mt-3">
  {{ first_visit_text() }}


  <div class="swiper mySwiper">
  {{ first_visit_pointer() }}

    <div class="swiper-wrapper">
      {% set colors = ['bg-primary', 'bg-secondary', 'bg-success', 'bg-danger', 'bg-warning', 'bg-info'] %} 
      {% for matchup in matchups %} 
      
      {% set color_a = colors | random %} 
      {% set color_b = (colors | reject('equalto', color_a) | list | random) %}

      <div class="swiper-slide" 
      data-slide-matchup-id="{{ matchup.id }}"
      data-slide-matchup-contestant-a-color="{{ color_a }}"
      data-slide-matchup-contestant-b-color="{{ color_b }}">

        <div class="matchup-container" id="matchup-{{ matchup.id }}">

          <div class="matchup-vs-text-overlay">
            <span>VS.</span>
          </div>

          <button 
          type="button" 
          class="btn vote-btn matchup-contestant" 
          data-matchup-id="{{ matchup.id }}"
          data-contestant-id="{{ matchup.contestant_a_id }}"          
          data-bs-toggle="button">

            <div class="matchup-contestant-img-container {{ color_a }}">☒</div>
            <h6 class="text-center">{{ matchup.contestant_a.contestant_name }}</h6>
            <p class="fw-light text-start">{{ matchup.contestant_a.contestant_description }}</p>
          </button>

          <button 
          type="button" 
          class="btn vote-btn matchup-contestant" 
          data-matchup-id="{{ matchup.id }}"
          data-contestant-id="{{ matchup.contestant_b_id }}"
          data-bs-toggle="button">

            <div class="matchup-contestant-img-container {{ color_b }}">☒</div>
            <h6 class="text-center">{{ matchup.contestant_b.contestant_name }}</h6>
            <p class="fw-light text-start">{{ matchup.contestant_b.contestant_description }}</p>
          </button>
        </div>
      </div>


      {% endfor %}
    </div>
    

    {{ matchup_stats_container() }}

    <script>
      window.matchupStats = {{ matchup_stats|tojson }};
    </script>


  </div>


</div>

{% endblock %}
