
{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Test Click</h1>
            <br>
            <button id="clickButton" class="btn btn-primary">Click Me!</button>
            <br>
            <br>
            <p id="clickCount">Total Clicks: {{ query_click_test.click_count if query_click_test else 0 }}</p>
        </div>
    </div>
</div>


<script src="{{ static_url_for('static', filename='build/main_js.bundle.js') }}"></script>

{% endblock %}
