
{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Test Vote</h1>
            <h4>Contestant List</h4>
                <ul>
                    {% for contestant in contestants %}
                    <p>{{contestant.id}}. {{ contestant.contestant_name }} - {{ contestant.contestant_description}}</p>
                    {% endfor %}
                </ul>


            <h4>Matchups</h4>
            <ul>
                {% for matchup in matchups %}
                <br>
                <div class="matchup-block" id="matchup-{{ matchup.id }}">
                    <button
                    class="btn btn-primary vote-btn bg-primary"
                    data-matchup-id="{{ matchup.id }}"
                    data-contestant-id="{{ matchup.contestant_a_id }}"
                    >
                    {{ matchup.contestant_a.contestant_name }}
                    </button>
                    vs.
                    <button
                    class="btn btn-danger vote-btn bg-danger"
                    data-matchup-id="{{ matchup.id }}"
                    data-contestant-id="{{ matchup.contestant_b_id }}"
                    >
                    {{ matchup.contestant_b.contestant_name }}
                    </button>

                    <br><br>
                    <div id="action-message-{{ matchup.id }}">.</div>
                    <br>

                    <div class="progress" style="height: 2rem;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
                            style="width: {{ matchup.percent_a }}%"
                            aria-valuenow="{{ matchup.percent_a }}" aria-valuemin="0" aria-valuemax="100">
                            {{ matchup.percent_a|round(1) }}%
                        </div>
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                            style="width: {{ matchup.percent_b }}%"
                            aria-valuenow="{{ matchup.percent_b }}" aria-valuemin="0" aria-valuemax="100">
                            {{ matchup.percent_b|round(1) }}%
                        </div>
                    </div>

                    <br>

                    <p id="total-votes-{{ matchup.id }}">
                        Total Votes: {{ matchup.votes|length }}
                    </p>
                    <p id="votes-a-{{ matchup.id }}">
                        Votes for {{ matchup.contestant_a.contestant_name }}:
                        {{ matchup.votes | selectattr('contestant_id', 'equalto', matchup.contestant_a_id) | list | length }}
                    </p>
                    <p id="votes-b-{{ matchup.id }}">
                        Votes for {{ matchup.contestant_b.contestant_name }}:
                        {{ matchup.votes | selectattr('contestant_id', 'equalto', matchup.contestant_b_id) | list | length }}
                    </p>


                </div>
                {% endfor %}
            </ul>


            <br>
        </div>
    </div>
</div>


{% endblock %}

